@import "tailwindcss";

@theme {
  --color-desert_storm: #f5f5f4;
  --color-Blue_Chill: #0d9488;
  --color-Heliotrope: #8b5cf6;
  --color-allports: #007a9a;
  --font-playfair: "Playfair Display", serif;
  --font-EB-Garamond: "EB Garamond", serif;
}
